.footer{
    width: 100%;
    height: 339px;
    background: url("../images/footerFon.png") center/cover no-repeat;
}


.footer__fon{
    background: url("../images/footerFons.png") center/cover no-repeat;
    width: 100%;
    height: 349px;
}

.footer__content{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.footer__text{
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.7);
    margin: 17px 0 8px;
}

.footer__list{
    display: flex;
    align-items: center;
    column-gap: 32px;
}

.footer__title{
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.footer__left{
    display: flex;
    column-gap: 62px;
}

.footer__title{
    margin: 80px 0 0;
}