.travel{
    padding: 0 0 160px;
}

.travel__blog{
    display: flex;
    align-items: end;
    margin-top: 48px;
}

.travel__top{
    display: flex;
    column-gap: 20px;
}

.travel__title{
    font-weight: 500;
    font-size: 56px;
    line-height: 64px;
    color: rgba(0, 0, 0, 0.58);
}
.travel__span{
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.32);
}

.travel__text{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.43);
}

.travel__row{
    margin: 0 -45px -40px;
    width: 522px;
    height: 351px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
}

.travel__logo{
    margin: 0px -68px 271px;
}

.travel__row-title{
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    margin: 32px 30px 32px;
    color: rgba(0, 0, 0, 0.58);
}

.travel__row-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0 30px 54px;
    color: rgba(0, 0, 0, 0.7);
}